[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "*"
ipykernel = "*"
nltk = "*"
numpy = "*"
pandas = "*"
pyldavis = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
spacy = "*"
squarify = "*"

[requires]
python_version = "3.7"
